
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Ship Names, Pirate Names</title>
 </head>
 <body>

<h1>Pirates</h1>
 
 <p><%= @new_pirate.name %></p>
 <p><%= @new_pirate.height %></p>
 <p><%= @new_pirate.weight %></p>


<h2>Pirate Ships</h2>
<%@ships.each do |ship|%>
 <p><%= ship.name %></p>
 <p><%= ship.type %></p>
 <p><%= ship.booty %></p>
<%end%>

 


</body>
 </html>
